*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 100vh;
  background: url('../src/img/wp3102647.jpg');
  background-size: cover;
  background-color: rgba(17, 11, 11, 0.26);
  opacity: .9;
  background-position-y: 50px;
  background-repeat: no-repeat;
  position: relative;
}
nav a{
  margin-left: 30px;
  text-transform: uppercase;
}
#nav{
  margin-right:40px;
  position: relative;
  z-index: 1 !important;
}
.navbar-brand{
  margin-left: 50px;
}
#header-blok{
  position: absolute;
  top: 40%;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  h3{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  h1{
    font-size: 80px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h6{
    font-size: 10px;
    margin-top: 10px;
  }
  b{
    color: red;
  }
}
.main1{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: grid;
  align-items: center;
  position: relative;
  z-index: -1;
  h1{
    display: flex;
    justify-content: center;
    color:white;
    margin-bottom: 50px;
    font-size: 45px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }
  #img{
    width: 180px;
    display: flex;
    align-self: center;
  }
  #img1{
    width: 180px;
    display: flex;
    align-self: center;
  }
  #img2{
    width: 180px;
    display: flex;
    align-self: center;
  }
  #img3{
    width: 180px;
    display: flex;
    align-self: center;
  }
  #card1{
    background-color: black ;
    width: 200px !important;
    margin-right: 10px;
  }
}
#offer{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1;
  .card{
    background-color: black;
    color: white;
  }
  #offer-img{
    width: 500px;
    height:500px;
    display: flex;
    align-self: center;
    border-radius: 50px;
  }
}
#card-offer{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  h1{
    font-size: 45px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: red;
    text-transform: uppercase;
  }
  h6{
    line-height: 30px;
  }
}
#about-div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: url('./img/bodybuilding-jeremy-buendia-mens-physic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  #about-opacity{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
  }
  h1{
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 2px;
    b{
      color: red;
    }
  }
  h6{
    margin-top: 10px;
  }
  button{
    margin-top: 30px;
    width: 130px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: red;
  }
}
#contact{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  h1{
    font-size: 50px;
    letter-spacing: 2px;
  }
  form{
    width:  500px;
    #form-input{
      background-color: rgba(59, 55, 55, 0.61);
      color: white;
      outline: none;
      border: none;
    }
    #btn{
      width: 500px;
      background-color: red;
    }
  }
}
@media (max-width:750px){
  header{
    background-position: 50% 20% !important;
    background-position-y: 50px !important;
  }
  nav a{
    margin-left:50px;
  }
  .card-group{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main1{
    height: auto;
  }
  #card-offer{
    h1{
      margin-left: 0;
    }
  }
  .card-group{
    display: flex;
    flex-direction: column !important;
  }
  #offer{
    height: auto;
    #offer-img{
      width: 400px;
      height: 400px;
      margin-top: 30px;
    }
  }
  #about-div{
    background-position-x: 40%;
    #about-opacity{
      h1{
        text-align: center;
      }
    }
  }
  #contact{
    h1{
      font-size: 30px;
      letter-spacing: 2px;
    }
    form{
      width:  100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      #form-input{
       width: 300px;
      }
      #btn{
        width: 300px !important;
      }
    }
  }
}